@model Web_ban_do_thu_cong_my_nghe.ViewModels.CartModel

<a asp-controller="Cart" asp-action="Index" class="text-muted d-flex align-items-center justify-content-center">
    <span class="rounded-circle btn-md-square border"><i class="fas fa-shopping-cart"></i></span>
    <span class="text-dark ms-2" >@Model.Quantity</span>
</a>


