@{
    ViewData["Title"] = "Mỹ Nghệ Việt";
}

<div class="text-center">
    <h1 class="display-4">Mỹ Nghệ Việt - Nét Văn Hóa Thuần Việt</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
