 <!-- Footer Start -->
<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
    <div class="container py-5">
        <div class="row g-4 rounded mb-5" style="background: rgba(255, 255, 255, .03);">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="rounded p-4">
                    <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center mb-4"
                         style="width: 70px; height: 70px;">
                        <i class="fas fa-map-marker-alt fa-2x text-primary"></i>
                    </div>
                    <div>
                        <h4 class="text-white">Địa Chỉ</h4>
                        <p class="mb-2">Hà Nội</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="rounded p-4">
                    <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center mb-4"
                         style="width: 70px; height: 70px;">
                        <i class="fas fa-envelope fa-2x text-primary"></i>
                    </div>
                    <div>
                        <h4 class="text-white">Mail </h4>
                        <p class="mb-2">myngheviet@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="rounded p-4">
                    <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center mb-4"
                         style="width: 70px; height: 70px;">
                        <i class="fa fa-phone-alt fa-2x text-primary"></i>
                    </div>
                    <div>
                        <h4 class="text-white">SĐT</h4>
                        <p class="mb-2">(+84) 3456 7890</p>
                    </div>
                </div>
            </div>
           
                    
                </div>
            </div>
        </div>
<div style="min-height:100px;">
    
</div>
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <div class="footer-item">
                        <h4 class="text-primary mb-4">Kết Nối Đam Mê</h4>
                        <p class="mb-3">
                            Nơi mỗi tác phẩm là một câu chuyện được kể bằng đôi tay và trái tim. Đăng ký để nhận những cảm hứng mới nhất, khám phá các bộ sưu tập độc bản và nhận ưu đãi đặc biệt  dành cho người trân trọng tinh hoa thủ công.
                        </p>
                        <div class="position-relative mx-auto rounded-pill">
                            <input class="form-control rounded-pill w-100 py-3 ps-4 pe-5" type="text"
                                   placeholder="Enter your email">
                            <button type="button"
                                    class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 mt-2 me-2">
                                SignUp
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-primary mb-4">CHĂM SÓC KHÁCH HÀNG</h4>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Hỗ trợ trực tuyến</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Thời gian giao hàng</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Chính sách thanh toán</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Điều kiện bảo hành</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Vận chuyển và giao nhận</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Đóng góp ý kiến của khách hàng</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Đổi trả và hoàn tiền</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-primary mb-4">VỀ CHÚNG TÔI</h4>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Giới thiệu</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Gía trị cốt lỗi - Tầm nhìn - Sứ mệnh</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Các nhóm sản phẩm</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Thành Viên</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Hội viên</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> 5 điểm khác biệt tại Mỹ Nghệ Việt</a>
                    
                </div>
            </div>
            
            </div>
        
<!-- Footer End -->

